@using u20540176_HW06.Models
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Chart/Chart.cshtml";
}

<h2 class="col-md-pull-6">Employee Orders</h2>

<div class="container">
    <div>
        <canvas id="chart" width="1000" height="600"></canvas>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(() => {
            $.get({
                url: "@Url.Action("GetEmployeeOrderData", "Order")",
                method: "GET",
                success: (data, status) => {
                    console.log(data);
                    console.log(status);

                    let inData = JSON.parse(data);
                    console.log(inData);

                    let chartLabel = [];
                    let chartData = [];

                    $(inData).each((i, v) => {
                        chartLabel.push(v.Name);
                        chartData.push(v.Amount);
                    });

                    RenderChart(chartLabel, chartData);
                }
            });

            function RenderChart(labels, data) {
                let ctx = $("#chart");
                let chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels ,
                        datasets: [{
                            label: 'Rand Value of Sales',
                            data: data,
                        }]
                    }
                });
            }
        });
    </script>
}
